{% extends "base.html" %}

{% block title %}
  Квартира
{% endblock %}
{% with apartment=object %}
    {% block topic %}

           {% for categor in categorys %}
                {% if categor.name == "rent" or categor.name == "Аренда" %}
                      <h1>Сдается</h1>
                {% endif %}
                {% if categor.name == "sale" or categor.name == "Продажа" %}
                    <h1>Продается</h1>
                {% endif %}
            {% endfor %}
          <br>

          <h3>{{ apartment.count_room.name }}-комн. квартира, {{ apartment.total_square }} м.кв.,</h3>
                      <h3>{{ apartment.floor_number }}/{{ apartment.floor_total }} этаж</h3>
                      <h3>{{ apartment.street.name }}, {{ apartment.house_number }}, {{ apartment.city.name }}</h3>
                      <br>
                      <h2>{{ apartment.cost }} {{ apartment.currency.name }}</h2>
    {% endblock %}
    {% block whattopic %}

    {% endblock %}

    {% block content %}
            <h5>{{ apartment.description }}</h5>
            <br>
            <h5>Метро  ---  {{ apartment.metro_name.name }}  {{ apartment.metro_distance }}</h5>
            <br>
            <br>
            <h3>Информация об объекте</h3>
            <br>
            <h5>Комнат  {{ apartment.count_room.name }}</h5>
            <h5>Площадь  {{ apartment.total_square }}  кв.м</h5>
            <h5>Этаж  {{ apartment.floor_number }}/{{ apartment.floor_total }}</h5>
            <h5>Материал  {{ apartment.material.name }}</h5>
            <h5>{{ apartment.balcony_type.name }}</h5>
            <h5>{{ apartment.is_home_appliances }}</h5>
            <h5>{{ apartment.is_furniture }}</h5>
            <h5>Дата публикации  {{ apartment.year_public }} {{ apartment.month_public }} {{ apartment.day_public }}
              {{ apartment.time_public }}</h5>

            {% if images_url %}
                {% for image in images_url %}

                    <img src="{{image.url_image}}">

                    <br>
                    <br>
                {% endfor %}
            {% endif %}

            {% if images %}
                {% for imag in images %}
                    <hr>

                    <img src="{{imag.image.url}}">
                    <hr>

                {% endfor %}
            {% endif %}


    {% endblock %}
{% endwith %}