{% extends "base.html" %}

{% block title %}
  Квартира удаление
{% endblock %}



    {% block topic %}
        <h1>Удаление</h1>

      <br>
      <h3>{{ apartment.count_room }}-комн. квартира, {{ apartment.total_square }} м.кв.,</h3>
                  <h3>{{ apartment.floor_number }}/{{ apartment.floor_total }} этаж</h3>
                  <h3>{{ apartment.street }}, {{ apartment.house_number }}, {{ apartment.city }}</h3>
                  <br>
                  <h2>{{ apartment.cost }} {{ apartment.currency }}</h2>
            {% for category in object.category.all %}
                <h4>{{category}}</h4>
            {% endfor %}
    {% endblock %}

    {% block whattopic %}

    {% endblock %}

    {% block content %}

        <h5>{{ apartment.description }}</h5>
        <br>
        <h5>Метро  ---  {{ apartment.metro_name }}  {{ apartment.metro_distance }}</h5>
        <br>
        <br>
        <h3>Информация об объекте</h3>
        <br>
        <h5>Комнат  {{ apartment.count_room }}</h5>
        <h5>Площадь  {{ apartment.total_square }}  кв.м</h5>
        <h5>Этаж  {{ apartment.floor_number }}/{{ apartment.floor_total }}</h5>
        <h5>Материал  {{ apartment.material }}</h5>
        <h5>{{ apartment.balcony_type }}</h5>
        <h5>{{ apartment.is_home_appliances }}</h5>
        <h5>{{ apartment.is_furniture }}</h5>
        <h5>Дата публикации  {{ apartment.year_public }} {{ apartment.month_public }} {{ apartment.day_public }}
          {{ apartment.time_public }}</h5>

            <h2>Удалить это объявление ?</h2>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Да</button>
        </form>

    {% endblock %}
