{% extends "base.html" %}

{% block title %}
  Сообщение
{% endblock %}

{% block topic %}
  Свяжитесь
  с нами
{% endblock %}

{% block whattopic %}
  Есть вопросы? У нас есть ответы.
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <form method="post">
          {% csrf_token %}
          {{ message.as_p }}
          <br>
          <br>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Отправить</button>
          </div>
        </form>
      </div>
    </div>
{% endblock %}