{% extends "base.html" %}

{% block title %}
  Личный кабинет
{% endblock %}

{% block topic %}
  Личный кабинет
{% endblock %}

{% block whattopic %}
    Ваши объявления
{% endblock %}

{% block content %}
    <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="btn btn-primary" href="{% url 'realtyapp:create_apart' %}">Создать объявление</a>
              <br>
              <hr>

          </li>

        <li class="list-inline text-center">
            <h2>Ваши объявления</h2>
        </li>

                       {% for ad in object_list %}


        <a href="{% url 'realtyapp:apartment' pk=ad.pk %}">


                <li>{{ad.description}}</li>
                <li>{{ad.metro_name.name}}</li>
                <li>{{ad.floor_number}}</li>
                <li>{{ad.metro_distance}}</li>
                <li>{{ad.total_square}}</li>
                <li>{{ad.living_square}}</li>
                <li>{{ad.floor_total}}</li>
                <li>{{ad.count_room.name}}</li>
                <li>{{ad.material.name}}</li>
                <li>{{ad.balcony_type.name}}</li>
                    <li>{{ad.is_home_appliances}}</li>
                        <li>{{ad.is_furniture}}</li>
                            <li>{{ad.cost}}</li>
                                <li>{{ad.house_number}}</li>
                                    <li>{{ad.street.name}}</li>
                                        <li>{{ad.city.name}}</li>
        <li>{{ad.area_city.name}}</li>
        <li>{{ad.advertising_object}}</li>


            {% for category in ad.category.all %}
                <li>{{category}}</li>
            {% endfor %}
    </a>
        </ul>

    <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="btn btn-primary" href="{% url 'realtyapp:updata_apart' pk=ad.pk %}">Редактировать</a>
              <hr>
          </li>

        <li class="nav-item">
            <a class="btn btn-primary" href="{% url 'realtyapp:delete_apart' pk=ad.pk %}">Удалить</a>
            <hr>
          </li>


            {% endfor %}
    </ul>



{% endblock %}