{% extends "base.html" %}

{% block title %}
  Личный кабинет
{% endblock %}

{% block topic %}
  Личный кабинет
{% endblock %}

{% block whattopic %}
    Ваши объявления
{% endblock %}

{% block content %}
    <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="btn btn-primary" href="{% url 'realtyapp:create_apart' %}">Создать объявление</a>
              <br>
              <hr>

          </li>

        <li class="list-inline text-center">
            <h2>Ваши объявления</h2>
        </li>

                       {% for ad in object_list %}

    </ul>

        <a href="{% url 'realtyapp:apartment' pk=ad.pk %}">


                <p>{{ad.description}}</p>
                <p>{{ad.metro_name.name}}</p>
                <p>{{ad.floor_number}}</p>
                <p>{{ad.metro_distance}}</p>
                <p>{{ad.total_square}}</p>
                <p>{{ad.living_square}}</p>
                <p>{{ad.floor_total}}</p>
                <p>{{ad.count_room.name}}</p>
                <p>{{ad.material.name}}</p>
                <p>{{ad.balcony_type.name}}</p>
                    <p>{{ad.is_home_appliances}}</p>
                        <p>{{ad.is_furniture}}</p>
                            <p>{{ad.cost}}</p>
                                <p>{{ad.house_number}}</p>
                                    <p>{{ad.street.name}}</p>
                                        <p>{{ad.city.name}}</p>
        <p>{{ad.area_city.name}}</p>
        <p>{{ad.advertising_object}}</p>


            {% for category in ad.category.all %}
                <p>{{category}}</p>
            {% endfor %}
    </a>


    <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="btn btn-primary" href="{% url 'realtyapp:updata_apart' pk=ad.pk %}">Редактировать</a>
              <hr>
          </li>

        <li class="nav-item">
            <a class="btn btn-primary" href="{% url 'realtyapp:delete_apart' pk=ad.pk %}">Удалить</a>
            <hr>
          </li>


            {% endfor %}
    </ul>



{% endblock %}